[Unit]
Description=Import TPM2 credentials into the initrd
DefaultDependencies=false

Wants=cryptsetup-pre.target
Before=cryptsetup-pre.target

Wants=sysefi.mount
After=sysefi.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/pcr-signature.sh

[Install]
WantedBy=cryptsetup.target
